@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<section class="py-3">
    <div class="container">
        <h1 class="text-danger">Error</h1>
        <p class="lead text-danger">An error occurred while processing your request.</p>
        <div class="row">
            <div class="col-sm-12 mx-auto">
                <div class="card card-signin my-3">
                    <div class="card-body">
                        @if (Model.ShowRequestId)
                        {
                            <p>
                                <strong>Request ID:</strong> <code>@Model.RequestId</code>
                            </p>
                        }
                        <p>@Model.ErrorMessage</p>                       
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
