@using RegistryClient.Controllers
@model RegistryClient.Models.Catalog.TagsViewModel
@{
    ViewData["Title"] = "Image tags";
}
<section class="py-3">
    <div class="container">
        <h1>Tags</h1>
        <p class="lead">Image Tags.</p>
        <div class="row">
          <div class="col-sm-12 mx-auto">
            <div class="card card-signin my-3">
              <div class="card-body">
                  <h5 class="card-title text-center">Image: @Model.ImageName</h5>

                <table class="table table-striped table-bordered">
                    <thead class="thead-dark">
                        <tr>
                            <th class="text-center">#</th>
                            <th>Tag Name</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach(var name in Model.Tags)
                        {
                            <tr>
                                <td class="text-center"><a href="@Routes.DeleteTag/@Model.ImageName/@name"><i class="fas fa-trash-alt"></i></a></td>
                                <td>@name</td>
                            </tr>
                        }
                    </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
</section>
